h1 {
    color: rgb(79, 92, 102);
}

h3{
    color: white;
}

div{
    color: rgb(120, 137, 137);
}

.now-page {
    padding: 3px 8px;
    border: 1px solid #ccc;
    background-color: aqua;
    color: #333;
}

header {
    position: relative;
    background-color: #535556 ;
    padding: 20px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    z-index: 1;
}